html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%; 
    display: flex;
    flex-direction: column;
}

.navbar {
    padding: .8rem;
}

.navbar-nav li {
    padding-right: 20px;
}


.nav-link {

    font-family: 'Oswald', sans-serif;
    font-weight: 100;
    font-size: 1.2em !important;
}

#fixed {
    /*background-image: repeating-linear-gradient(black, grey, black);*/
    background-image: url('Assets/Images/bgimg.JPG');
    position: fixed;
    display: block;
    top: 0; 
    left: 0;
    width: 100%; 
    height: 100%; 
    background-size: cover;
    /*background-position: center center;
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    will-change: transform;*/
}



.container {
    margin-left: 200px;
    padding-top: 18rem;
    padding-left: 18rem; 
}

.card {
    opacity: 88%;
}

.title {
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-transform: uppercase;
    text-shadow: 1px 1px 15px #000;

}

.cardtext {
    font-size: 14px !important;
}

.justify {
    margin-left: 4.2rem;
}

h1, h3{
    font-family: 'Oswald', sans-serif;
}


.py-5 {
    padding-top: (4 * 3);
    padding-bottom: (4 * 3);

}


@media (max-width: 980px) {
    .container {
        padding-left: 235px; 
    }

    
}

@media (max-width: 768px) {
    /*#bgimage {
        background-image: url(Assets/Images/bgimg.JPG);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 1000px;
    }*/

    .container {
        
        margin-right: 0 auto !important; 
        max-width: 0 auto !important;
    }

    #container {
        margin-left: 5rem !important;
        margin-top: 10rem !important; 
        margin-right: 5rem !important;
    }
}


@media (max-width: 640px) {
    /*#fixed {
        background-image: url(Assets/Images/bgimg.JPG);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 900px;
    }*/

    .container {
        padding-left: 120px !important; 
    }

}

@media (max-width: 380px) {
    .container {
        padding-left: 60px !important;
    }
    h1 {
        font-size: 40px !important;
    }
}